# Project exclude paths
/microserviceconfigclient/target/
/microserviceconfigserver/target/
/microserviceconsumer/target/
/microserviceconsumerfeignhystrix/target/
/microserviceconsumerhystrixdashbord/target/
/microserviceeurake/target/
/microserviceprovider/target/
/microserviceprovider2/target/
/microserviceprovider3/target/
/microserviceproviderhystrix/target/
/microservicezuul/target/
/microserviceclcintegratedproject/target/
/.idea
.txlcn/microservicecloud-lcintegratedproject-12580.mv.db
